.about {
    background-color: #1e1e1e;
    .title {
        font-weight: 600;
        font-size: 69px;
        line-height: 69px;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        @media (max-width: 576px) {
            font-size: 60px;
            line-height: 60px;
        }
        @media (min-width: 320px) and (max-width: 400px){
            font-size: 46px;
            line-height: 46px;
        }
    }
    img {
        width: 100%;
    }
    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 22px;
        color: #FFFFFF;
    }
}